[submodule "token-exchange-mini-project/lib/forge-std"]
	path = token-exchange-mini-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token-exchange-mini-project/lib/openzeppelin-contracts"]
	path = token-exchange-mini-project/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
