[submodule "token-exchange-mini-project/lib/forge-std"]
	path = token-exchange-mini-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token-exchange-mini-project/lib/openzeppelin-contracts"]
	path = token-exchange-mini-project/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "purchase-nft-erc20-token/lib/forge-std"]
	path = purchase-nft-erc20-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "purchase-nft-erc20-token/lib/openzeppelin-contracts"]
	path = purchase-nft-erc20-token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "erc20-vesting-contract/lib/forge-std"]
	path = erc20-vesting-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20-vesting-contract/lib/openzeppelin-contracts"]
	path = erc20-vesting-contract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
