[submodule "token-exchange-mini-project/lib/forge-std"]
	path = token-exchange-mini-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token-exchange-mini-project/lib/openzeppelin-contracts"]
	path = token-exchange-mini-project/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "purchase-nft-erc20-token/lib/forge-std"]
	path = purchase-nft-erc20-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "purchase-nft-erc20-token/lib/openzeppelin-contracts"]
	path = purchase-nft-erc20-token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "erc20-vesting-contract/lib/forge-std"]
	path = erc20-vesting-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20-vesting-contract/lib/openzeppelin-contracts"]
	path = erc20-vesting-contract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "nft-swap-contract/lib/forge-std"]
	path = nft-swap-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-swap-contract/lib/openzeppelin-contracts"]
	path = nft-swap-contract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "crowdfunding-erc20-contract/lib/forge-std"]
	path = crowdfunding-erc20-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crowdfunding-erc20-contract/lib/openzeppelin-contracts"]
	path = crowdfunding-erc20-contract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "english-auction-contract/lib/forge-std"]
	path = english-auction-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "english-auction-contract/lib/openzeppelin-contracts"]
	path = english-auction-contract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "simple-nft-marketplace/lib/forge-std"]
	path = simple-nft-marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "simple-nft-marketplace/lib/openzeppelin-contracts"]
	path = simple-nft-marketplace/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
